.cards-container {
  display: flex;
  gap: 20px;
  margin: 20px 0;
  flex-wrap: wrap;
}

.summary-card {
  flex: 1;
  min-width: 200px;
  max-width: 250px;
  text-align: center;
}

mat-card-content p {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

/* mat-card {
background-color: rgba(0, 0, 0, 0.222);
  color: aliceblue;
} */

@media (max-width: 767.98px) {
 .cards-container{
  display: flex;
 align-items: center;
 justify-content: center;
 }
}


