<!-- cards 1 -->
<div *ngIf="showDiv1" class="cards-container">
  <mat-card class="summary-card">
    <mat-card-header>
      <mat-card-title>Total Users</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ totalUsers }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="summary-card">
    <mat-card-header>
      <mat-card-title>Average Salary</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ averageSalary | number: '1.2-2' }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="summary-card">
    <mat-card-header>
      <mat-card-title>Average Salary Increment</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ totalIncrementedSalary | number: '1.2-2' }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="summary-card">
    <mat-card-header>
      <mat-card-title>Total Salary</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ totalSalary | number: '1.2-2' }}</p>
    </mat-card-content>
  </mat-card>
</div>




<!-- cards 2 -->
<div *ngIf="!showDiv1" class="cards-container">
  <mat-card class="summary-card">
    <mat-card-header>
      <mat-card-title>Total Customers:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ totalCustomers }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="summary-card">
    <mat-card-header>
      <mat-card-title>Total Amount:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ totalAmount | currency}}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="summary-card">
    <mat-card-header>
      <mat-card-title>Total Revenue:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{totalRevenue | currency }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="summary-card">
    <mat-card-header>
      <mat-card-title>Average Revenue:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{averageRevenue | currency  }}</p>
    </mat-card-content>
  </mat-card>
</div>


