/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
  
} */

.mat-menu-panel {
  z-index: 1000; /* Ensure submenu is on top */
}

*{
  /* color: red; */
  font-family: "Inter", sans-serif;
}